
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.form__container {
    flex: 1;
    max-width: 40%;
}

.form__field {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
}

input {
    outline: none;
    padding: 0.5rem 0.25rem;
}

input:focus, input:hover {
    outline: none;
    border: 2px solid #d25e63;
}

button{
    background-color: #d25e63;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    width: 10rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #e26a6d;
}

button:disabled, button[disabled] {
    background-color: #999;
}