<app-navigation></app-navigation>
<app-create-product *ngIf="isProductModalOpen$"></app-create-product>
<app-category *ngIf="isCategoryModalOpen$"></app-category>

<div class="modal" *ngIf="isFeedbackModalOpen$">
    <div class="modal__backdrop" (click)="closeFeedbackModal()"></div>
    <div class="modal__content">
        <h1>Add Feedback</h1>
        <form method="POST" [formGroup]="feedbackForm" novalidate>
            <div class="form__field">
                <textarea id="comment" cols="80" rows="10" placeholder="Add Comments..."
                    formControlName="comment"></textarea>
                <star-rating size="large" (ratingChange)="onRatingChange($event)"></star-rating>
            </div>
            <div>
                <button class="form__button" [disabled]="!rating$" (click)="addFeedback()">Add</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" *ngIf="isViewFeedbackModalOpen$">
    <div class="modal__backdrop" (click)="closeViewFeedbackModal()"></div>
    <div class="modal__content">
        <h1>Product Feedback</h1>
        <div *ngFor="let feedback of productFeedbacks$ | async">
            <div class="product__feedbacks">
                <p>{{feedback.comment}}</p>
                <star-rating [rating]="feedback.rating"></star-rating>
            </div>
            <hr />
        </div>
    </div>
</div>

<div class="store" *ngIf="productRatings$ | async as productRatings">
    <div class="store__header">
        <div class="store__header-search">
            <h1>Products</h1>
            <form method="POST" [formGroup]="productSearchForm" class="product__search-form" (ngSubmit)="searchProducts()">
                <input type="text" placeholder="Search Product..." name="product" formControlName="product">
                <div>
                    <label for="category"><b>Filter Category</b></label>
                    <select name="category" id="" formControlName="category" class="product__search-category">
                        <option value="">Unselect Category</option>
                        <option *ngFor="let category of categories$ | async" value="{{category.id}}">{{category.name}}
                        </option>
                    </select>
                    &nbsp;&nbsp;
                    <button type="submit" class="product__delete-btn">Search</button>
                </div>
            </form>
        </div>
        <div class="store__buttons">
            <div *ngIf="isAdmin$">
                <button class="product__add-btn" (click)="openProductModal()">Add new Item</button>
            </div>
            <div *ngIf="isAdmin$">
                <button class="product__add-btn" (click)="openCategoryModal()">Add new Category</button>
            </div>

        </div>
    </div>

    <div class="products__container">
        <div *ngFor="let product of products$ | async" class="product">
            <div class="product__image-container">
                <div *ngIf="product.image; else defaultImage">
                    <img class="product__image" src="http://localhost:8000/images/{{product.image}}" alt="">
                </div>
                <ng-template #defaultImage>
                    <div class="product__image-container">
                        <img class="product__image" src="assets/images/default.png" alt="">
                    </div>
                </ng-template>
            </div>

            <div class="product__detail-container">
                <h2>{{product.name}}</h2>
                <h2 style="color: lightcoral;">${{product.price}}</h2>
                <p>{{product.description}}</p>
                <p class="product__category">{{product.category}}</p>
            </div>

            <div *ngFor="let r of productRatings">
                <star-rating size="large" *ngIf="product.id == r.id" [rating]="r.rating" [showHalfStars]="true"
                    class="product__rating"></star-rating>
            </div>

            <div class="product__interact">
                <button *ngIf="!isAdmin$" class="product__add-btn" (click)="addToCart(product.id)">Add to Cart</button>
                <button *ngIf="!isAdmin$" class="product__add-btn" (click)="openViewFeedbackModal(product.id)">View
                    Feedback</button>
                <button *ngIf="isAdmin$" class="product__delete-btn" (click)="delete(product.id)">Delete Item</button>
                <div *ngIf="deliveredProducts$ | async as dProducts">
                    <div *ngIf="productIdsFeedbacked$ | async as fProducts">
                        <button class="product__add-btn"
                            *ngIf="dProducts.includes(product.id) && !isAdmin$ && !fProducts.includes(product.id)"
                            (click)="openFeedbackModal(product.id)">Give Feedback</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>