.store {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

.store__header {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  align-items: center;
}

.store__buttons {
  display: flex;
}

h1 {
  color: #d25e63;
}

.products__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100rem;
  justify-content: center;
}

.product {
  display: flex;
  padding: 1rem;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  gap: 1rem;
}

.product:hover {
  transition: all 0.5s;
  background-color: rgb(251, 229, 229);
}

.product__image-container {
 width: 15%;
}
.product__image {
  width: fit-content;
  max-width: 8rem;
}

.product__category {
  align-self: flex-end;
  background-color: #bbb;
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  text-align: center;
  width: fit-content;
}

.product__feedback-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.product__interact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1;
  width: 100%;
  text-align: right;
  margin-right: 1rem;
}

.product__rating {
  width: 20%;
}

.product__add-cart-btn {
  background-color: transparent;
  border: 3px solid #feb84b;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 5rem;
}
.product__add-cart-btn:hover {
  background-color: #ffe2a8 ;
}

.product__detail-container {
  width: 45%;
  text-align: justify;
}

.product__add-btn {
  background-color: #feb84b ;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
  width: 12rem;
}

.product__add-btn:hover {
  background-color: #ffe2a8 ;
}

.product__delete-btn {
  background-color: lightcoral;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.product__delete-btn:hover {
  background-color: rgb(252, 176, 176) ;
}
.product__feedbacks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}