<div class="message" [innerHTML]="msgStr" [hidden]="!msgStr"></div>

<div class="container-border">
    <div>
        <img src="assets/images/store.png" alt="">
    </div>
    <div class="form__container">
        <h1>Login</h1>
        <form  method="POST" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <div class="form__field">
                <label for="username-email">Username or Email</label>
                <input type="text" formControlName="usernameOrEmail" id="username-email" placeholder="Username or Email">
            </div>
            <div class="form__field">
                <label for="username-email">Password</label>
                <input type="password" name="password" id="password" formControlName="password">
            </div>
            <div class="error" id="login-error"></div>
            <div>
                <button [disabled]="!loginForm.valid">Login</button>
            </div>
            <div>
                <a href="/signup">Don't have an account? Sign up</a>
            </div>
        </form>
    </div>
</div>